flask
psycopg2
jsonschema[format]
requests
pyyaml
jinja2
python-dateutil
cached-property
kcidb-io@git+https://github.com/kernelci/kcidb-io.git
jq@git+https://github.com/kernelci/jq.py.git@1.7.0.post1
